# Local configuration files
.env
config.json

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.vscode/
.idea/

# Virtual environment
venv/

# Build artifacts
build/
dist/
*.spec
